@media screen and (min-width: 800px) {
    .main-section {
        grid-column: 2/6;
        display: grid;
        grid-template-columns: repeat(4, 1fr);  
    }

    .home-pic-right {
        display: block;
        grid-column: 3/5;
        grid-row: 1/2;
        width: 75%;
        margin: 2em auto;
    }

    .home-pic-right-ipad{   
        display: none;
   }

   .main-section section:nth-child(1){
       grid-row:1/4;
   }

   .home-pic-left{
    width: 75%;
    display: block;
    margin: 3em auto;
    box-shadow: 5px 5px 20px #2B3964;
    border-radius: 10px;
    grid-column: 3/5;
    grid-row:2/3;
   }




}